@inject Komodo.Services.IBTRolesService _rolesService
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Home Page";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _rolesService.ListUserRoles(user);
    string roleName = "";
    foreach (var role in roles)
    {
        roleName = role;
    }
}
<div>
    <h1>Welcome back, @user.FirstName</h1>
    <h5>Role --> <em>@roleName</em></h5>
</div>