@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

    <title>Welcome - Komodo</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@

    <!-- Custom styles for this template -->
    <link href="~/css/heroic-features.css" rel="stylesheet" />
    @*<link href="css/heroic-features.css" rel="stylesheet">*@
    <style>
        * {
            font-family: 'Nunito';
        }

        .navbar-brand {
            font-size: 24px !important;
            color: #e0e6ed !important;
            line-height: 2.75rem;
            text-transform: initial;
            position: unset;
            font-weight: 700;
        }
    </style>
</head>

<body class="pt-0">

    <!-- Navigation -->
    @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3" style="background-color: #12162e !important">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KOMODO</a>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header id="hero" class="jumbotron my-4 text-white">
            <h1 class="display-3">Welcome to Komodo!</h1>
            <p class="lead">Komodo is an issue tracker application built with ASP.NET MVC and a SQL database. It incorporates different roles such as the Admin, Project Manager, Developer, and Submitter. See what this app can do by reading the cards below or login and see for yourself.</p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-light btn-lg">Login</a>
            <a class="btn btn-light btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/images/admin.png" />
                    <div class="card-body">
                        <h4 class="card-title">Admin</h4>
                        <p class="card-text">Admins have full control over the applications users, projects and tickets.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/images/pm.png" />
                    <div class="card-body">
                        <h4 class="card-title">Project Manager</h4>
                        <p class="card-text">A team leader with special insights and analytics to help them make informed decisions.</p>
                    </div>
                    @*<div class="card-footer">
                        <a href="#" class="btn btn-dark">See Project Manager</a>
                    </div>*@
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/images/dev.png" />
                    <div class="card-body">
                        <h4 class="card-title">Developer</h4>
                        <p class="card-text">The developer handles assigned tickets and solves problems.</p>
                    </div>
                    @*<div class="card-footer">
                        <a href="#" class="btn btn-dark">See Developer</a>
                    </div>*@
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="~/images/sub.png" />
                    <div class="card-body">
                        <h4 class="card-title">Submitter</h4>
                        <p class="card-text">Many times they're the interface between the client and your internal team. They do so by submitting tickets.</p>
                    </div>
                    @*<div class="card-footer">
                        <a href="#" class="btn btn-dark">See Submitter</a>
                    </div>*@
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>-->
    <!-- /.container -->
    <!--</footer>-->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="vendor/jquery/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

<script>
    document.body.style.backgroundColor = "#060818";
    //document.getElementsByTagName("nav").backgroundColor = "#12162e";
</script>
</body>

</html>
