@model Komodo.Models.Ticket
@inject Microsoft.AspNetCore.Identity.UserManager<BTUser> _userManager
@inject Komodo.Services.IBTProjectService _projectService
@{
    ViewData["Title"] = "Edit";
    var userId = _userManager.GetUserId(User);
}

<div class="row justify-content-center">
    <div class="col-md-8 widget">
        <h1>Edit this ticket</h1>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Hiddens *@
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="@Model.Created" />
            <input type="hidden" asp-for="Updated" value="@DateTime.Now" />
            <input type="hidden" asp-for="@Model.ProjectId" />
            <input type="hidden" asp-for="@Model.OwnerUserId" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="tinycontent" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="TicketTypeId" class="control-label"></label>
                        <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                        <span asp-validation-for="TicketTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="TicketPriorityId" class="control-label"></label>
                        <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                        <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                    {
                        <div class="form-group">
                            <label asp-for="TicketStatusId" class="control-label"></label>
                            <select asp-for="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                            <span asp-validation-for="TicketStatusId" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="TicketStatusId" />
                    }
                </div>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
                <div class="col-md-6 ml-0 pl-0">
                    <div class="form-group">
                        <label asp-for="DeveloperUserId" class="control-label"></label>
                        <select asp-for="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                        <span asp-validation-for="DeveloperUserId" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="DeveloperUserId" />
            }
            <div class="form-group">
                <label for="FileName" class="control-label"></label><br />
                <input name="attachment" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-light btn-lg" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-outline-dark text-white">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
